/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style-type: none;
}

.topbar {
  width: 100%;
  height: 50px;
  color: rgb(113, 113, 113);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeef0;
  border-bottom: 1px solid rgb(209, 206, 206);
}
.topbar a {
  color: #044c9f;
}
hr {
  margin-top: 40px;
  border: none;
  border: 1px solid rgb(209, 206, 206);
  background-color: #f7f7f8;
}
.fa-bars {
  display: none;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100px;
  height: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
nav a:hover {
  background-color: #ecf4fe;
  text-decoration: none;
}
input {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  border: 1px solid gray;
}
input:hover,
.fa-arrow-right-to-bracket:hover,
#theme:hover,
#english:hover {
  background-color: rgb(239, 237, 237);
}
.search {
  width: 200px;
  position: relative;
}
.fa-magnifying-glass {
  position: absolute;
  top: 8px;
  left: 50px;
  font-size: 18px;
}
input::placeholder {
  color: rgb(4, 4, 184);
  padding-left: 5px;
  font-weight: bold;
}
.fa-arrow-right-to-bracket {
  margin-left: 20px;
}
section {
  height: 40px;
  background-color: #f7f7f8;
  border: 1px solid rgb(209, 206, 206);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
section a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}
section a:hover {
  color: black;
}

#theme {
  border: none;
  background-color: #f7f7f8;
  margin-right: 10px;
  outline: none;
}

#english {
  border: none;
  outline: none;
  background-color: #f7f7f8;
  margin-right: 10px;
}
select {
  appearance: none;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  background-color: white;
}

.sidebar-left {
  width: 22%;
  height: 100vh;
  overflow-y: auto;
  color: black;
  padding: 0 25px;
  font-size: 14px;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar-left input {
  width: 180px;
  border: none;
  outline: none;
  border: 1px solid rgb(171, 166, 166);
  padding-left: 33px;

  position: relative;
}
.sidebar-left input::placeholder {
  color: rgb(80, 79, 79);
  font-weight: normal;
}
.sidebar-left img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 35px;
  top: 5px;

  z-index: 1;
  opacity: 0.5;
}
.sidebar-left a {
  display: block;
  color: black;
  padding-top: 20px;
}
.sidebar-left h4 {
  font-size: 18px;
  padding-top: 20px;
}
#element {
  background-color: #ecf4fe;
  display: inline-block;
  font-size: 16px;
  border-left: 3px solid rgb(123, 172, 246);
}

.content {
  width: 55%;
  height: auto;
  padding: 20px;
  line-height: 20px;
  overflow-x: auto;
}
h1 {
  margin: 30px 0;
  font-weight: normal;
}
h1:hover {
  text-decoration: underline;
  color: black;
}
.content a {
  text-decoration: underline;
  color: #044c9f;
}
.content a:hover {
  text-decoration: none;
}
table,
tr,
th,
td {
  border: 1px solid rgb(190, 186, 186);
  padding: 5px;
  font-weight: normal;
  border-collapse: collapse;
}
.sidebar-right {
  width: 22%;
  height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
  right: 0;
}
h4 {
  padding-left: 10px;
}
.sidebar-right a {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  border-left: 2px solid rgb(208, 206, 206);
  padding-left: 10px;
}
.sidebar-right a:hover {
  border-left: 3px solid rgb(123, 172, 246);
  background-color: #ecf4fe;
}
.sidebar-right img {
  width: 200px;
  height: 350px;
  border-radius: 10px;
}
a:hover {
  text-decoration: underline;
  color: #044c9f;
}